.feauture-items {
    padding-bottom: 95.5px;
}

.feauture-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feauture-li {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: #F8F8F8;
    width: $mini-width;
    height: 581px;
    overflow: hidden;
    min-height: 400px;
    position: relative;
    transition: 0.5s;
}

.feauture-li-subtitle {
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    line-height: 16px;
    margin: 24px 0 13px 18px;
}

.feauture-li-description {
    font-weight: 300;
    @include small-text ();
    color: #5D5D5D;
    margin: 0 30px 18px 18px;
}

.feauture-price {
    margin-left: 18px;
    @include medium-text ();
    color: $main-rose;
}

.feauture-items {
    background: #FFFFFF;
}

.feauture-heading {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: $main-black;
    
}

.feauture-subtitle {
    text-align: center;
    color: #9F9F9F;
    @include small-text ();
    margin-bottom: 18px;
}

.center {
    display: flex;
    justify-content: center;
    padding-top: 48px;
}

.visual {
    text-decoration: none;
    color: #F26376;
    text-align: center;
    @include medium-text ();
    border: 1px solid #FF6A6A;
    padding: 15px 39px 14px 38px;
    
    &:hover {
        color: #FFFFFF;
        background-color: #FF6A6A;
    }
}

/*5-е домашнее задание, 1-ый пункт*/
.try {
    display: inline-block; 
    overflow: hidden; 
}

.try-img {
    transition: 1s; 
    display: block; 
}

.try-img:hover {
    transform: scale(1.2); 
}

.scale-img-2 {
    transition: 1s;
}

.scale-img-2:hover {
    transform: scale(1.2);
}

/*5-е домашнее задание, 4-ый пункт*/






/*.feauture-li:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}*/


.overlay {
    position: absolute;
    left: 0;
    right: 0;
    height: 420px;
    background-color: rgba(58, 56, 56, 0.83);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}
  
.feauture-li:hover .overlay {
    opacity: 1;
    
}

.item-img {
    width: 100%;
    height: 420px;
    background-color: #e9e9e9;
}

.feauture-btn {
    border: 1px solid #FFFFFF;
    background: none;
    display: flex;

   /* &:hover {
        background-color: #fff;
        opacity: 0.3;
    }*/
}

.span-add {
    padding-top: 17px;
    padding-bottom: 15px;
    padding-right: 16px;
    color: #FFFFFF;
}

.feauture-cart {
    margin: 11px 11px 8px 13px;
}
