.pagination {
    margin-top: 48px;
    margin-left: 400px;
    width: 284px;
    height: 44px;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
    display: block;
    padding: 13px 15px;
}

ul.pagination-numero {
    display: flex;
    list-style: none;
}

ul.pagination-numero li a, ul.pagination-numero li span{
    color: #C4C4C4;
    text-decoration: none;
    transition: background-color .3s;
    font-weight: 300;
    @include medium-text ();
}

ul.pagination-numero li a:hover {
    color: #EF5B70;
}

.page-link {
    margin-left: 21px;

}

.page-link-1 {
    margin-left: 21px;
}

.page-link-2 {
    margin-right: 18px;
}