.promo {
    background: #F1E4E6;

    &-wrap {
        background-image: url(../img/person_promo.png);
        height: 765px;
        background-repeat: no-repeat;
        background-position-x: -225px;
        background-position-y: bottom;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.promo-name {
    font-weight: 900;
    font-size: 48px;
    line-height: 40px;
    color: $main-black;
    border-left: 12px solid $main-rose;
    padding-left: 16px;
    margin-right: 90px;

    &--small {
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
        color: $main-black;
    }
}

.promo-name--pink {
    color: $main-rose;
} 